table {
  font: 21px Arial,  sans-serif;
  border-collapse: collapse;
  width: 1300px;
  margin:0 auto;
  padding: 100px;
  border: 10px;

}
td, th {
  padding: 20 10px;
    border: 1px solid #ffffff;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
th {
  border: 1px solid #CCC;
  padding: 10 5px;
  text-align: center;
  background-color:#00FF66

}
td {
  border: 1px solid #CCC;
  padding: 10px;
  background-color:#DFFDD5;
}
h1 {
  color:#003300;
  font:22px "Trebuchet MS";
  text-align:center;
}
h2 {
	 text-align:center;
	 color: white;
}
body {
    background-image: url("a.jpeg");
}