.header{
	background-image: url("c.jpg");

}

.container{
	background:#ff3385;
}
.header h1{
	padding: 10px;
	text-align: right;
	margin-right: 20px;
	font-family: verdana;
	border-radius: 10px;
	background-image: url("b.jpg");
	margin-left: 500px;
	float: right;

}

.header h1 small{
	font-size: 50%;
	
}

.menu{

	margin: 0 auto;
background:#ff3385;
	border-top: 1px solid #000;
	text-align: center;
	color: white;
}

.menu ul li {
	display: inline;
margin-right: 150px;
margin-left: 100px;
}

.menu ul li a {
	color: white;
margin: 0 auto;
	text-decoration: none;
	font-family: verdana;
}

.row{
	background-image: url("f.jpg");
	margin: 0 auto;
}

	
}
.menu ul li a:hover{
	color: white;
	color: #002966;


}

.content{
	background: #003380;
	margin: 0 auto;
}
.subc{
	width: 290px;
	height: 380px;
	background: #cce0ff;
	border-radius: 10px;
	float: left;
	margin: 5px; 
}